.container {
    width: 90%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;

            .logo {
                margin-bottom: 20px;

            }

            .nav {
                text-align: center;

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .logo {
        img {
            max-width: 100%;
            width: 89.291px;
            height: 93.186px;
            flex-shrink: 0;
        }
    }

    .nav {
        ul {
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-left: 20px;
            }

            a {
                text-decoration: none;
                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                opacity: 0.5;
                letter-spacing: 2px;
            }
        }
    }

}