.container {
    max-width: 80%;
    margin: 0 auto;

    .header {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;

        .logo {
            h1 {
                color: var(--black, #221E1E);
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.183px;
                text-transform: capitalize;
            }
        }

        .nav {
            display: flex;
            align-items: center;
            gap: 40px;

            ul {
                display: flex;
                flex-direction: row;
                gap: 15px;

                li {
                    color: var(--blue-link, #2C66B8);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                }

                li:hover {
                    color: var(--kobe-hover, #813013);
                    transition: 0.4s;
                }
            }

            img {
                cursor: pointer;
            }

            button {
                width: 150px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 8px;
                background: #2C66B8;
                color: #FFF;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }

            button:hover {
                scale: 1.05;
                transition: 0.2s;
            }
        }
    }
}