.hero_section {
    position: relative;
    display: flex;
    align-items: center;
    height: 140vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 9.04%, rgba(0, 0, 0, 0.00) 43.36%), url(../../public/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;


    .container {
        width: 90%;
        margin: 0 auto;

        .content {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h1 {
                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 50px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 75px */
            }

            p {
                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 23px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                /* 34.5px */
            }

            button {
                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                padding: 12px 54px;
                gap: 10px;
                background: #DF4F3A;
                width: 250px;
                transition: 0.3s;
            }

            button:hover {
                scale: 1.1;
                transition: 0.3s;
            }
        }
    }
}