.container {

    /* styles/Footer.module.scss */
    .footer {
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding: 40px;
    }

    .socialIcons {}

    .navigation {
        display: flex;
        gap: 40px;
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            /* Стили для пунктов списка */
            /* Добавьте свои стили здесь */
        }
    }

    .contactButton {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    hr {
        background: #FFF;
        width: 1203px;
        height: 1px;
        margin: 40px 0 40px 0;
    }

    .copyright {
        font-size: 12px;

        /* Добавьте дополнительные стили по вашему выбору */
    }


}